div.opa {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: salmon;
  opacity: 0.5;
}

div.im {
  display: inline-block;
  width: 100px;
  height: 100px;
}

div.opa:hover, div.im:hover {
  opacity: 1.0;
  transition: opacity 1s;
}
